#mainInputBox{
    height: 100px;
    width: 500px;
    background-color: #A7C1A8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px #819A91;
    margin: 5px;
}

#from{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#chooseCurrency{
    display: flex;
    flex-direction: column;
    margin: 10px;

}

label{
    font-size: large;
    padding: 5px;
}

#selectInput{
    padding: 5px;
}

#inputId{
    padding: 5px;

}

