#background{
  height: 100vh;
  width: 100vw;
  /* backgroundSize: "cover";
  backgroundRepeat: "no-repeat";
  backgroundPosition: "center"; */
  background-color: #D1D8BE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* index.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#heading{
  color: #657871;
  text-decoration: underline;
}

#convert{
  width: 500px;
  height: 40px;
  margin: 5px;
  background: #93aa94;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #819A91;
  font-size: large;
}

#swap{
  width: 70px;
  height: 40px;
  margin: 5px;
  background: #93aa94;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #819A91;
  font-size: large;
}