#background{
  height: 100vh;
  width: 100vw;
  /* backgroundSize: "cover";
  backgroundRepeat: "no-repeat";
  backgroundPosition: "center"; */
  background-color: #D1D8BE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* index.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#heading{
  color: #819A91;

}